#これはコメント行

#トップのTempフォルダは無視する
/Temp/
/Library/
/obj/
/Logs/

#作業用tempフォルダは無視する
/Assets/Temp/
/Assets/Temp.meta

# TestRunner実行で作成されるファイルは除外
/Assets/InitTestScene*.unity
/Assets/InitTestScene*.unity.meta

# Unity2020以降でできるユーザー設定フォルダ
/UserSettings/
/ProjectSettings/SceneTemplateSettings.json

#VS,Mono,IL2CPPのファイル
/*.sln
/*.suo
/*.user
/*.userprefs
/*.csproj
/*.unityproj
/*.a
/*.VC.db

#アセットバンドル
/AA/
/ServerData/
/Assets/StreamingAssets/aa
/Assets/StreamingAssets/aa.meta
/Assets/AddressableAssetsData/*/addressables_content_state.bin
/Assets/AddressableAssetsData/*/addressables_content_state.bin.meta
/Assets/AddressableAssetsData/Android.meta
/Assets/AddressableAssetsData/iOS.meta
/Assets/AddressableAssetsData/Windows.meta
/Assets/AddressableAssetsData/OSX.meta

*.sdf
*.opensdf
*.suo

#build
/_build/
/.gradle/

#VS Code 個人設定
/*.vscode
/.vs/

#スクショフォルダ
/_capture/
/Recordings/
/MemoryCaptures/
/ProfilerIntervalSave/

# doxygen
/html/
/latex/
/doxyfile/

#作業ファイル
/EditorData/

